@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --cor-de-fundo: #255803;
    --verde: #00ff00;
    --branco: #FFFFFF;
    --botao-inativo: rgb(0, 0, 0);
    --texto-fundo: rgb(0, 0, 0);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Chakra Petch", sans-serif;
}

.conteudo-principal{
    display:flex;
    flex-direction:column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.estagiario-imagem{
    padding: 2em;
    width: 120px;
}

.estagiario-nome{
    text-align:center;
    display:inline-block;
    padding: 2em;
}

.empresa-imagem{
    padding: 2em;
    width: 120px;
}

.empresa-nome{
    text-align: center;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}


.botao{
    font-family: 'Chakra Petch', sans-serif ;
    background-color: var(--botao-inativo);
    color: var(--branco);
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
}

.aba-conteudo-texto-principal{
    font-size: 28px;
    text-align: center;
}

@media screen and (min-width: 750px){
    .botoes{ 
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
